<p style="color: green"><%= notice %></p>

<%= render @host %>

<div>
  <%= link_to "Edit this host", edit_host_path(@host) %> |
  <%= link_to "Back to hosts", hosts_path %>

  <%= button_to "Destroy this host", @host, method: :delete %>
</div>
